---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/anton";
import "@fontsource/ubuntu";
---

<Layout title="Contacto - JesusJM">
    <Header />
    <!-- formulario de contacto -->
    <div class="ContenedorDeContacto">
        <div class="form-container">
            <div class="form">
                <form
                    action="https://jesusjm.org/services/"
                    method="POST"
                >
                    <span class="heading">Formulario de <br /> contacto</span>
                    <span class="c1">ponte en contacto</span>

                    <input
                        type="hidden"
                        name="_next"
                        value="https://"
                    />
                    <input type="hidden" name="_captcha" value="false" />

                    <input
                        class="input"
                        type="text"
                        placeholder="Numero"
                        name="Numero"
                        required
                        maxlength="10"
                    />
                    <input
                        class="input"
                        type="email"
                        placeholder="Correo"
                        name="correo"
                        required
                    />
                    <input
                        class="input"
                        type="text"
                        placeholder="Motivo (Opcional)"
                        name="Motivo"
                    />

                    <span class="c2">Enseguida nos pondremos en contacto.</span>

                    <button type="submit" class="btn-enviar">
                        <div class="button-container">
                            <div class="send-button">Enviar</div>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <Footer />
</Layout>

<style>
    .btn-enviar {
        background: rgb(19, 19, 19);
        border: none;
        width: 150px;
    }
    .ContenedorDeContacto {
        position: relative;
        width: 100%;
        padding: 30px 0px;
        background: rgb(19, 19, 19);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* From Uiverse.io by Prakhar227 */
    .orange {
        color: #caf438;
    }

    .form-container {
        font-family: "Ubuntu", sans-serif;
        max-width: 700px;
        margin: 100px 30px;
        background-color: #0f0f0f;
        padding: 30px;
        border-left: 5px solid #caf438;
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            0 100%
        );
    }

    .heading {
        display: block;
        color: white;
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .c1 {
        display: block;
        color: #d3f35f;
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .c2 {
        display: block;
        color: white;
        font-size: 0.7rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .form-container .form .input {
        color: #e7e7e7;
        width: 90%;
        max-width: 300px;
        background-color: #1e1e1f;
        border: none;
        outline: none;
        padding: 10px;
        margin-bottom: 20px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        border-left: 1px solid transparent;
        font-size: 12px;
        display: inline-block;
    }

    .form-container .form .input:focus {
        border-left: 5px solid #caf438;
    }

    .form-container .form .textarea {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        background-color: #013747;
        color: #caf438;
        font-weight: bold;
        resize: none;
        max-height: 150px;
        margin-bottom: 20px;
        border-left: 1px solid transparent;
        transition: all 0.2s ease-in-out;
    }

    .form-container .form .textarea:focus {
        border-left: 5px solid #caf438;
    }

    .form-container .form .button-container {
        display: flex;
        gap: 10px;
    }

    .form-container .form .button-container .send-button {
        flex-basis: 100px;
        background: #caf438;
        padding: 10px;
        color: #001925;
        text-align: center;
        font-weight: bold;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        font-size: 13px;
    }

    .form-container .form .button-container .send-button:hover {
        background: transparent;
        border: 1px solid #ff7a01;
        color: #caf438;
    }

    .form-container .form .button-container .reset-button-container {
        filter: drop-shadow(1px 1px 0px #ff7a01);
        flex-basis: 30%;
    }

    .form-container
        .form
        .button-container
        .reset-button-container
        .reset-button {
        font-size: 13px;
        position: relative;
        text-align: center;
        padding: 10px;
        color: #caf438;
        font-weight: bold;
        background: #001925;
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 10px),
            calc(100% - 10px) 100%,
            0 100%
        );
        transition: all 0.2s ease-in-out;
    }

    .form-container
        .form
        .button-container
        .reset-button-container
        .reset-button:hover {
        background: #caf438;
        color: #001925;
    }
</style>
