---

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import JesusJM from '../assets/jesusjm.svg';

// importar [font de letra]

import '@fontsource/anton';

import '@fontsource/ubuntu';
---

<Layout title = "Inicio - JesusJM">
	<Header />
	 <div class="ContenedorInicio">
      <div class="ContenedorDeInformacionInicio">
       <p class="titulo">
				Jesus JM
			</p>

			<p class="bienvenida">
              Welcome to my professional portfolio. 
			  Here you will find information about my skills,
			   experience, and the projects I have developed.
			</p>

			<div class="ContenedorDeBotones">
              <a href="/Skills" class="skillsBtn"><button>Skills</button></a>
			  <a href="" class="contacsBtn"><button>Contacts</button></a>
			</div>


			<!-- From Uiverse.io by mymiamo --> 
<div class="card">
  <div class="mac-header">
    <span class="red"></span>
    <span class="yellow"></span>
    <span class="green"></span>
  </div>
  <span class="card-title">Skills</span>
  <p class="card-description">
    a look at my portfolio of work as a web developer.
  </p>
  <span class="card-tag">TAG JS</span> <span class="card-tag">TAG JS</span>
  <div class="code-editor">
    <pre><code>frontend: HTML, CSS
backend: MySQL, Node.js
languages: JavaScript, PHP<code></pre>


  </div>
</div>  



  <center>
	  <img src={JesusJM.src} alt="Imagene ver mas del desarrollo web" class="VerMasImg">
    </center>

      <p class="titulo">
				From
			</p>

		  <p class="bienvenida">
        We are here to help you. If you have any questions, suggestions, or need more information about our services, don’t hesitate to get in touch with us.
			</p>
      
      <a href="" class="contacsBtnFrom"><button>Contacts</button></a>

	  </div>  
	 </div>
	 <Footer />
</Layout>

<style>
    a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  
}

	.ContenedorInicio{
	   position: relative;
	   width: 100%;
	   padding: 30px 0px;
	   background: rgb(19, 19, 19);
	}

	.ContenedorDeInformacionInicio{
		width: 90%;
		max-width: 560px;
		background: transparent;
		margin: 10px;
		padding: auto;
		margin-left: 6%;

	}

	.titulo{
		color: #c1ff72;
		font-family: 'Ubuntu', sans-serif;
		letter-spacing: 0.5px;
		font-size: 25px;
		font-weight: 900;
	}

	.bienvenida{
		color: rgba(255, 255, 255, 0.884);
		font-family: 'Ubuntu', sans-serif;
		width: 90%;
		font-size: 12px;

	}



/* From Uiverse.io by mymiamo */ 
.card {
  margin-top: 20px;
  width: 280px;
  height: 240px;
  padding: 20px;
  border: 1px solid #0d1117;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.mac-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.mac-header span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.mac-header .red {
  background-color: #ff5f57;
}

.mac-header .yellow {
  background-color: #ffbd2e;
}

.mac-header .green {
  background-color: #28c941;
}

.card-title {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #e6e6ef;
}

.card-description {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}

.card .card-tag {
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  background-color: #0d1117;
  padding: 4px;
  margin-block-end: 12px;
  color: #dcdcdc;
}
.code-editor {
  background-color: #0d1117;
  color: #dcdcdc;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    monospace;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
  height: 150px;
  border: 1px solid #333;
  height: 80px;
}

.code-editor::-webkit-scrollbar {
  width: 8px;
}

.code-editor::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.code-editor pre code {
  white-space: pre-wrap;
  display: block;
}
a{
	text-decoration: none;
}


/* contenedor de los botones de la pantalla principal */ 

.contacsBtn button{
	border: none;
	border-radius: 30px;
	padding: 9px 25px;
	margin-top: 10px;
	margin-bottom: 20px;
  margin-left: 5px;
	background: #c1ff72;
	color: black;
	border: 2px solid #c1ff72;

}
.contacsBtnFrom button{
	border: none;
	border-radius: 30px;
	padding: 9px 25px;
	margin-top: 10px;
	margin-bottom: 20px;

	background: #c1ff72;
	color: black;
	border: 2px solid #c1ff72;

}

.skillsBtn button{

	border: none;
	border-radius: 30px;
	padding: 9px 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	background: transparent;
	color: #c1ff72;
	border: 2px solid #c1ff72;
}

.VerMasImg{
	display: inline-block;
	position: relative;
	width: 250px;
	margin: auto;
	padding: auto;
	
	
}

</style>

<!-- cambiar el logo, espacio entre los botones, 
 por ultimo reducir los iconos del footer -->