---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/anton";
import "@fontsource/ubuntu";

// Imagenes de el apartado de proyectos
import ProyectoUNO from "../assets/proyectos/ProyectoUNO.webp";
import ProyectoDOS from "../assets/proyectos/ProyectoDOS.webp";


import IconoGitHub from "../assets/proyectos/IconoGitHub.svg";
---

<Layout title = "Portafolio - JesusJM">
    <Header />

    <div class="ContenedorPrincipalProyectos">
        <!-- contenedor de los proyectos desarrollados -->

        <div class="Proyectos">
            <img
                class="ImgDeProyectos"
                src={ProyectoDOS.src}
                alt="Imagen del primer proyecto de el apartado de proyectos"
            />
            <div class="ContenedorDeTextoDelproyecto">
                <p class="TituloDelProyecto"><strong>Arcade Lunar</strong></p>

                <p class="DescripcionDelProyecto">

                      Desarrollo de la version beta de la web de Arcade Lunar 
                    Este proyecto tiene como objetivo principal servir como
                    el canal oficial para presentar la aplicación a su audiencia.
                  
                </p>

                <a href="https://arcadelunar.netlify.app/">
                    <img
                        class="IconoGitHubDelProyecto"
                        src={IconoGitHub.src}
                        alt="icono de git hub para redirigir al usuario al repositorio git hub"
                    />
                </a>

         
            </div>
        </div>

        <div class="Proyectos">
            <img
                class="ImgDeProyectos"
                src={ProyectoUNO.src}
                alt="Imagen del primer proyecto de el apartado de proyectos"
            />
            <div class="ContenedorDeTextoDelproyecto">
                <p class="TituloDelProyecto"><strong>Steren</strong></p>

                <p class="DescripcionDelProyecto">
                    Desarrollo de una réplica de un sistema de ventas a pequeña
                    escala, inspirado en la estructura y funcionalidades de la
                    empresa Steren, con el objetivo de simular procesos
                    empresariales reales.
                </p>

                <a href="https://github.com/guisus8d/SterenReply">
                    <img
                        class="IconoGitHubDelProyecto"
                        src={IconoGitHub.src}
                        alt="icono de git hub para redirigir al usuario al repositorio git hub"
                    />
                </a>

       
              
            </div>
        </div>


    </div>

    <Footer />
</Layout>

<style>
    a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
    }

    .ContenedorPrincipalProyectos {
        position: relative;
        width: 100%;
        background: rgb(19, 19, 19);
        padding: 40px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .ImgDeProyectos {
        position: relative;
        width: 100%;
        border-radius: 10px;
    }
    .Proyectos {
        position: relative;
        width: 90%;
        max-width: 500px;
        background: rgba(255, 255, 255, 0.384);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
        margin: 40px 40px;
    }

    .ContenedorDeTextoDelproyecto {
        position: absolute;
        width: 100%;
        padding: 10px 0px;
        background: rgb(0, 0, 0);
        bottom: 0px;
    }
    .TituloDelProyecto {
        font-family: "Ubuntu", sans-serif;
        color: rgba(255, 255, 255, 0.884);
        margin-left: 20px;
    }

    .DescripcionDelProyecto {
        font-family: "Ubuntu", sans-serif;
        color: rgba(255, 255, 255, 0.884);
        width: 88%;
        font-size: 10px;
        margin-left: 20px;
    }

    .IconoGitHubDelProyecto {
        position: relative;
        width: 30px;
        
        margin: 8px;
        left: 10px;
    }
    .BtnRedirigirAlSitioWebDelproyecto button {
        position: relative;
        top: -10px;
        margin-left: 10px;
        border: none;
        color: #c1ff72;
        border: 2px solid #c1ff72;
        background: transparent;
        padding: 5px 30px;
        border-radius: 20px;
    }

    /* Estilos propios de los disposivos moviles */
    @media (max-width: 600px) {
        .Proyectos {
            position: relative;
            width: 90%;
            max-width: 500px;
            background: rgba(255, 255, 255, 0.384);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 100px;
            margin: 40px 0px;
        }
    }
</style>
