---

---

<!-- contenido principal [pagina inicio] -->

<div class="contenedorInicio">

</div>

<style is:global>
body{
    margin: 0px;
}

.conetenedorInicio{
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
}
</style>