---

// importar las imagenes bueno los iconos que contendra el footer

import IconoFacebook from '../assets/FooterIcono/facebook.svg';
import IconoInstagram from '../assets/FooterIcono/instagram.svg';
import IconoGithub from '../assets/FooterIcono/github.svg';
---

<!-- contenedor de [footer] -->
<footer>
<div class="footer">

<div class="ContenedorDeIconos">
<img src={IconoFacebook.src} alt="Icono De Facebook">
</div>

<div class="ContenedorDeIconos">
<img src={IconoInstagram.src} alt="Icono De Instagram">
</div>

<div class="ContenedorDeIconos">
<img src={IconoGithub.src} alt="Icono De Github">
</div>

</div>
</footer>

<style>
    .footer{
        position: relative;
        width: 100%;
        height: 70px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ContenedorDeIconos{
     position: relative;
     width: 40px;
     height: 40px;
     background: rgba(114, 114, 114, 0.658);
     border-radius: 50%;
     margin: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .ContenedorDeIconos img{
        width: 27px;
    }
</style>