---
import ImgLogo from '../../public/Logo.svg';
---

<!-- contendido de [Header] -->

<header>
<div class="menu">
<img src={ImgLogo.src} alt="Logo de la pagina" class="logo">
</div>
</header>

<style>
.menu{
    position: relative;
    background: black;
    width: 100%;
    height: 60px;
}

.logo{
    position: relative;
    width: 50px;
    margin: 7px;
}
</style>